 <h1>Új topik létrehozása</h1>  
	
<%= form_for @topic do |f| %>  
	  
	  <% if @topic.errors.any? %>  
		<div class="error_messages">  
		  <h2>Data validation error</h2>  
		  <ul>  
				<% for message in @topic.errors.full_messages %>  
					<li><%= message %></li>  
				<% end %>  
		  </ul>  
		</div>  
	<% end %>  
	  
		<div class="field">  
			<%= f.label :title, "Cím:"  %><br/>  
			<%= f.text_field :title%>  
		</div>
		<div class="field">  
			<%= f.label :description, "A topik rövid leírása:"  %><br/>  
			<%= f.text_field :description%>  
		</div>  
		<br/>
		<div class="actions">
			<%= f.submit "Létrehozás" %>
		</div>
	<%= link_to 'Vissza', topics_path %>	  
	<% end %>  

<% event_logger ("New topic form displayed") %>