
<html>
<head>
<title>Topik Adatai</title>
</head>

<body bgcolor="Silver">
<h1>Topik Adatai</h1>

<h2>Alapadatok</h2>
<b>Cím:</b>
<%=h @topic.title %>

<b>Létrehozva:</b>
<%=h @topic.created_at %>  
<br>



<br>
<br>
<%= link_to 'Szerkesztés', edit_topic_path(@topic) %> | 
<%= link_to 'Törlés', @topic, :confirm => 'Biztosan törli ezt a fórumot?', :method => :delete %>  
<br>
<br>

<%= link_to 'Vissza', topics_path %>



</html>