<%= stylesheet_link_tag "main" %>

<html>
  <head>
	<title>Fórum</title>
  </head>

<h1>Fórum</h1>

<h2><%=h @topic.title %></h2>

  <b>Leírás:</b>
  <%=h @topic.description %>
<br>
  <b>Létrehozta:</b>
  <%= @topic.user.name %> 
<br>

  <b>Létrehozva:</b>
  <%=h @topic.created_at %>  
<br>

<br>
<br>
<% if current_user %>
<%= link_to 'Szerkesztés', edit_topic_path(@topic) %> | 
<%= link_to 'Törlés', @topic, :confirm => 'Biztosan törli ezt a topikot?', :method => :delete %>   | 
<%= link_to 'Vissza', topics_path %>
<% end %>

<h2>Hozzászólások</h2>

<table class="comments_table">
<% @topic.comments.each.with_index do |comment, index| %>
  <tr>
  <th># <%=index+1%>.  <%=User.find(comment.user_id).name %>       (<%= comment.updated_at.strftime('%Y %b %d %H:%M:%S')%>)</th>
  </tr>
  <tr>
  <td><%= comment.content %></td>
  </tr>
<% end %>
</table>

<% if current_user%>
  <h2>Új hozzászólás</h2>
  <%= form_for([@topic, @topic.comments.build]) do |f| %>
    <p>
      <%= f.label :content, "Hozzászólás szövege:" %><br />
      <%= f.text_area :content %>
    </p>
    <p>
      <%= f.submit "Hozzászólás rögzítése" %>
    </p>
<% end %>
<% end %>


</html>